.abs {
  position: absolute;
  top: 0;
  left: 0;
}

.rel {
  position: relative;
  top: 0;
  left: 0;
}

.absFull {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.clickKill {
  cursor: none;
}

.mobile .clickKill {
  display: block;
  cursor: pointer;
}

.TL {
  position: absolute;
  top: 0;
  left: 0;
}
.T {
  position: absolute;
  top: 0;
  left: 50%;
}
.TR {
  position: absolute;
  top: 0;
  right: 0;
}
.L {
  position: absolute;
  top: 50%;
  left: 0;
}
.C {
  position: absolute;
  top: 50%;
  left: 50%;
}
.C2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.HC {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.TC {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.R {
  position: absolute;
  top: 50%;
  right: 0;
}
.BL {
  position: absolute;
  bottom: 0;
  left: 0;
}
.B {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.BR {
  position: absolute;
  right: 0;
  bottom: 0;
}
.full {
  display: block;
  width: 100%;
  height: 100%;
}
.fullW {
  position: relative;
  display: block;
  width: 100%;
}
.invis {
  visibility: hidden;
  opacity: 0;
}
.hList {
  list-style: none;
  white-space: nowrap;
}
.hList li {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.noSelect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
   -khtml-user-select: none;
}

.lazy {
  background-image: none !important;
}
/*
@mixin scaled-font($fontSize, $maxFontSize, $width, $maxWidth) {
  font-size: calc( #{$fontSize}px + (#{$maxFontSize} - #{$fontSize}) * (100vw - #{$width}px) / (#{$maxWidth} - #{$width}) );
  @media screen and (max-width: #{$width}px) {
    font-size: #{$fontSize}px;
  }
  @media screen and (min-width: #{$maxWidth}px) {
    font-size: #{$maxFontSize}px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin scaled-font-height($fontSize, $maxFontSize, $width, $maxWidth) {
  font-size: calc( #{$fontSize}px + (#{$maxFontSize} - #{$fontSize}) * (100vh - #{$width}px) / (#{$maxWidth} - #{$width}) );
  @media screen and (max-height: #{$width}px) {
    font-size: #{$fontSize}px;
  }
  @media screen and (min-height: #{$maxWidth}px) {
    font-size: #{$maxFontSize}px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
