<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <Wheel data-list/>
  </div>
</template>

<script>
// @ is an alias to /src
import Wheel from "@/components/Wheel.vue";

export default {
  name: "home",
  components: {
    Wheel
  }
};
</script>
