<template>
  <div class="wheelContainer">
    <h3>Big Wheel</h3>
    <div class="wheelWrapper">
      <p>{{wheeldata.length}}</p>
      <ul>
        <!-- <a @hover="checkTerm(item.source)" @click="callTerm(item.source)"></a> -->
        <li v-for="item in wheeldata" :key="item.source">{{item.label}}</li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: "Wheel",
  props: {
    current: String
  },
  data: () => {
    return {
      wheeldata: null
    };
  },
  mounted () {
    axios.get('@/assets/data/datalist.js')
    .then((response) => (this.wheeldata = response))
    .catch(() => (this.wheeldata = null));
  },
  methods: {
    /* */
  }
};
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0px;
  padding: 10px 0px;
}
a {
  color: #42b983;
}
</style>
